@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply p-2 mx-auto text-xl text-center max-w-7xl;
}

article {
  @apply overflow-hidden rounded-3xl shadow-lg bg-blue-100 mt-2 mb-2 p-2;
}

.center {
  @apply flex
  justify-center;
}

.bloco {
  @apply block
  justify-center;
}

.aviso {
  @apply bg-yellow-300;
}

.button {
  @apply hover:bg-blue-900
  hover:text-white
  border-gray-400
  bg-blue-100
  border-none
  pl-3
  pr-3
  pb-4
  pt-4
  m-3
  border-solid
  border-2
  h-fit
  flex
  justify-center
  flex-col;
}

#duas-colunas {
  @apply columns-2 p-4;
}

.duas-colunas {
  @apply columns-2
  gap-4;
}

.tres-colunas {
  @apply columns-3
  gap-4;
}

.datas {
  @apply inline-flex;
}

.qrcode {
  @apply content-center items-center self-center place-content-center place-items-center place-self-center justify-center justify-items-center;
}

a {
  @apply no-underline hover:underline;
}

input {
  @apply bg-gray-200 rounded-lg mt-1 mb-1 pl-2 pr-2 focus:bg-gray-300;
}

input[type="radio"],
input[type="checkbox"] {
  @apply w-6;
}

label {
  @apply ml-2 mr-2 flex justify-center;
}

button {
  @apply hover:bg-blue-900 
  hover:text-white
  border-gray-400
  pl-3
  pr-3
  pb-4
  pt-4
  m-3
  border-solid
  border-2
  h-12
  flex
  justify-center
  flex-col;
}

textarea {
  @apply bg-slate-200;
}

button {
  @apply w-1/3
  items-center
  h-8
  pl-4
  pr-4
  min-w-fit;
}

h1 {
  @apply text-3xl pt-6 pb-6 pl-3 pr-3 bg-gray-600 text-center font-bold text-white;
}

h2 {
  @apply text-3xl pt-4 pb-4 pl-3 pr-3 text-center bg-gray-400 mb-2 mt-2;
}

h3 {
  @apply text-3xl pt-4 pb-4 pl-3 pr-3 text-center bg-gray-300 mb-2 mt-2;
}

h4 {
  @apply text-2xl p-3 text-center bg-gray-200 mb-2 mt-2;
}

h5 {
  @apply text-2xl p-2 text-center mb-2 mt-2;
}

h6 {
  @apply text-2xl p-2 text-center mb-2 mt-2;
}
